/* =====================
variables
===================== */

:root {
    --color-background: #1E1E24;
    --color-primary: #FFCF56;
    --color-secondary: #92140C;
    --color-accent: #2E4057;
    --color-text: #F9F7F3;
    --color-text-dim: #BFBFBF;
    --font-main: Arial, sans-serif;
    --radius: 6px;
}

/* =====================
general
===================== */

body {
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-text);
}

/* =====================
componentes reutilizables
===================== */

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}

.button {
    background-color: var(--color-primary);
    color: #1E1E24;
    border: none;
    padding: 12px 28px;
    font-weight: bold;
    border-radius: var(--radius);
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-secondary);
    color: white;
}

.card {
    background-color: var(--color-accent);
    padding: var(--spacing-md);
    border-radius: var(--radius);
}